<div class="card col-md-12 wrap-top">
    <div class="card-body">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/privado/citas">Calendario</a>
        </li>
        <li class="breadcrumb-item active">Mí Perfíl</li>
      </ol>
    </div>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->

      <div class="text-center">
        <img
          src="{{ empleado.photoUrl }}"
          class="avatar img-circle img-thumbnail"
          alt="avatar"
        />
      </div>
      <br />

      <ul class="list-group">
        <li class="list-group-item text-muted">
          Activity <i class="fa fa-dashboard fa-1x"></i>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Pacientes hoy</strong></span> 125
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Urgencias</strong></span> 13
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Estado de conexión</strong></span>
          <h5 *ngIf="providerId != 'password'">{{ empleado.status }}</h5>
        </li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i>
          <i class="fa fa-github fa-2x"></i>
          <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-pinterest fa-2x"></i>
          <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr />
          <form class="form" action="##" method="post" id="registrationForm">
            <div class="form-group">
              <div class="col-xs-6">
                <label for="first_name"><h4>Nombre</h4></label>
                <h5 *ngIf="providerId != 'password'">{{ empleado.nombre }}</h5>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="last_name"><h4>Apellidos</h4></label>
                <h5 *ngIf="providerId != 'password'">{{ empleado.apellidos }}</h5>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for="phone"><h4>Teléfono</h4></label>
                <h5 *ngIf="providerId != 'password'">{{ empleado.phoneNumber }}</h5>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-6">
                <label for="email"><h4>Email</h4></label>
                <h5 *ngIf="providerId != 'password'">{{ empleado.email }}</h5>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="email"><h4>Domicilio</h4></label>
                <h5 *ngIf="providerId != 'password'">{{ empleado.domicilio }}</h5>
              </div>
            </div>
          </form>
          <hr />
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <!--/col-9-->
  </div>
  <!--/row-->
</div>
</div>
