<section id="profile" class="container wrap-top">
  <div class="row mt-5">
    <div class="card">
      <div class="main-section text-center card">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-details">
          <div class="col-12">
           <!-- <img src="{{user.photoUrl}}" class="rounded-circle img-thumbnail" alt="profile">-->
            <!--<h5 *ngIf="providerId != 'password'">{{user.name}}</h5>-->
            <p>
              user
            </p>

            <hr>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores suscipit itaque minima quae.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
