<div class="card col-md-12 wrap-top">
  <mat-card>
    <app-migaspan></app-migaspan>
  </mat-card>
  <br /><br />
  <mat-card>
    <mat-card>
      <div class="container emp-profile">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="profile-img">
                <mat-card>
                  <img
                    src="{{ empleado.photoUrl }}"
                    alt="Imagen Perfíl"
                    height="150"
                    width="150"
                  />
                  <div class="file btn btn-lg btn-primary" *ngIf="!empleado.photoUrl" >
                    Cambiar Fotografía
                    <input type="file" name="file" />
                  </div>
                </mat-card>
              </div>
            </div>
            <div class="col-md-6">
              <div class="profile-head">
                <h5>
                  {{ empleado.nombre }}
                </h5>
                <h6>
                  {{ empleado.tipoEspecialista }}
                </h6>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="home-tab"
                      data-toggle="tab"
                      href="#home"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                      >Mi Pefíl</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <p>Estado | {{ empleado.status }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="profile-work">
                <p>Pacientes</p>
                <mat-card>Pacientes Hoy</mat-card> <br />
                <p>Pacientes</p>
                <mat-card>Pacientes</mat-card> <br />
                <p>Mensajes</p>
                <mat-card>Mensajes Hoy</mat-card> <br />
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <label>Num Empleado</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ empleado.numeroEmpleado }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Nombre y apellidos</label>
                    </div>
                    <div class="col-md-6" *ngIf="providerId != 'password'">
                      <p>{{ empleado.nombre }} {{ empleado.apellidos }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ empleado.email }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Tel Empleado</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ empleado.phoneNumber }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Especialista</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ empleado.tipoEspecialista }}</p>
                    </div>
                    <div class="col-md-6">
                      <label>Fecha incorporación</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ empleado.fechaIncorporacion | date:'medium' }}</p>
                    </div>
                    <div class="col-md-8">

                          <input data-toggle="modal" data-target="#modalEmpleado"
                          type="submit"
                          class="btn btn-primary btn-submit float-right"
                          value="Editar"
                          (click)="editarPerfil(empleado)"/>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </mat-card>
</div>

<!-- Modal -->
<app-edit-profile></app-edit-profile>
