<div class="card col-12 wrap-top">
  <mat-card>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/privado/citas">Calendario</a>
      </li>
      <li class="breadcrumb-item active">Nuevo Empleado</li>
    </ol>
  </mat-card>
  <br /><br />
  <mat-card>
    <mat-card class="form">
      <mat-card-title>Nuevo Empleado</mat-card-title>
      <form #formGuardar="ngForm" (ngSubmit)="onSubmitEmpleado(formGuardar)" >
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre"  #nombre="ngModel" [(ngModel)]="empleado.nombre" name="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" id="apellidos"  #apellidos="ngModel" [(ngModel)]="empleado.apellidos" name="apellidos" placeholder="Apellidos">
        </div>
        <div class="form-group">
          <label for="photoUrl">Imagen Perfiíl</label>
          <input type="file" class="form-control-file" id="photoUrl"  #photoUrl="ngModel" [(ngModel)]="empleado.photoUrl" name="photoUrl">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" #email="ngModel" [(ngModel)]="empleado.email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password"  #password="ngModel" [(ngModel)]="empleado.password" name="password" maxlength="9" placeholder="Escribe una contraseña" required>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Tel. Empleado</label>
          <input type="number" class="form-control" id="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="empleado.phoneNumber" name="phoneNumber" maxlength="9" placeholder="Tel. Empleado 600000000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required>
        </div>
        <div class="form-group">
          <label for="dni">DNI</label>
          <input type="text" class="form-control" id="dni" #dni="ngModel" [(ngModel)]="empleado.dni" name="dni" placeholder="DNI Empleado 50000000X">
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input type="date" class="form-control" id="edad" #edad="ngModel" [(ngModel)]="empleado.edad" name="edad" placeholder="Edad 2/8/1981">
        </div>
        <div class="form-group">
          <label for="domicilio">Domicilio</label>
          <input type="text" class="form-control" id="domicilio" #domicilio="ngModel" [(ngModel)]="empleado.domicilio" name="domicilio" placeholder="Calle Cartaya, 2, Madrid 21802">
        </div>
        <div class="form-group">
          <label for="bio">Biografía</label>
          <input type="text" class="form-control" id="bio" #bio="ngModel" [(ngModel)]="empleado.bio" name="bio" placeholder="Biografía">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Empleado</button>
    </form>
    </mat-card>
  </mat-card>
</div>
