<div class="card col-md-12 wrap-top">
  <mat-card>
    <app-migaspan></app-migaspan>
  </mat-card>
  <br /><br />
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <h6 class="border-bottom border-gray mb-3">Empleados de Clinica RD</h6>
            <div class="card mb-3" *ngFor="let empleado of empleado">
                <h3 class="card-header">{{ empleado.nombre }} - {{ empleado.apellidos }} - {{ empleado.dni }}</h3>
                <div class="card-body">
                  <h5 class="card-title">Num. de empleado: {{ empleado.numeroEmpleado }}</h5>
                  <h6 class="card-subtitle text-muted">Tipo de especialista: {{ empleado.tipoEspecialista }}</h6>
                </div>
                <img style="height: 100px; width: 100px;" *ngIf="!photoUrl" [src]="photoUrl " alt="imagen de perfil">
                <div class="card-body">
                  <p class="card-text">{{ empleado.domicilio }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Nombre de usuario: {{ empleado.userName }}</li>
                  <li class="list-group-item">Fecha de nacimeiento: {{ empleado.edad | date: 'shortDate' }}</li>
                  <li class="list-group-item">Tel Empleado: {{ empleado.phoneNumber }}</li>
                  <li class="list-group-item">Tipo de especialista: {{ empleado.tipoEspecialista }}</li>
                  <li class="list-group-item">Estado de conexión: {{ empleado.status }}</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link" (click)="onEdit()">Editar trabajador</a>
                  <a href="#" class="card-link" (click)="onDelete(empleado)">Eliminar trabajador</a>
                </div>
                <div class="card-footer text-muted">
                    <p class="card-text">Incorporación a Clinica - {{ empleado.fechaIncorporacion | date: 'medium' }}  </p>
                </div>
              </div>
      </mat-card>
    </div>
  </div>
</div>
