<div class="card col-md-12 wrap-top">
  <div class="card-body">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/privado/citas">Calendario</a>
      </li>
      <li class="breadcrumb-item active">Lista Pacientes</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-8 mb-4">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Buscar paciente"
        />
      </mat-form-field>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="photoUrl">
           <mat-header-cell *matHeaderCellDef> Fotografía </mat-header-cell>
          <mat-cell *matCellDef="let element"> <img mat-card-image src="{{ element.photoUrl }}" alt="Photo of a Shiba Inu"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.dni }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef> Teléfono movíl </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.phoneNumber }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.acciones }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>

</div>
    <div class="col-md-4">
<app-info-paciente-tabla></app-info-paciente-tabla>
    </div>
  </div>
</div>
