<div class="card col-md-12 wrap-top">
  <div class="card-body">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/privado/citas">Calendario</a>
      </li>
      <li class="breadcrumb-item active">Lista Pacientes</li>
    </ol>
  </div>
  <div class="card">
    <div class="card-body col-12">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control col-8 mr-sm-2"
          type="text"
          placeholder="Buscar paciente"
        />
        <button
          class="btn btn-primar btn-submit col-3 my-2 my-sm-0"
          type="submit"
        >
          Buscar
        </button>
      </form>
    </div>

    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Paciente</th>
            <th scope="col">Bono</th>
            <th scope="col">Sesiones</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <th scope="row" *ngFor="let paciente of pacientes | async">
                <img src="{{ paciente.photoUrl }}" class="mr-3" alt="imagen paciente" width="64" height="64">
            </th>
            <td></td>
            <td>10</td>
            <td>Ayer</td>
            <td>
              <button type="button" class="btn  btn-success btn-sm">Modificar Ficha</button>
              <hr>
              <button type="button" class="btn btn-info btn-sm">Ver Ficha</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <div class="col-4">
        <h4>Aquí mí calendario</h4>
      </div>
    </div>
  </div>
</div>
