<nav class="navbar navbar-expand-lg navbar-dark fixed-top navBar">
  <a class="navbar-brand" routerLink="acceder">ClínicaRD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- ng-template para saver que ve cada usuario -->
  <ng-template #idAdmin>

  </ng-template>
  <ng-template #idEmpleado>

  </ng-template>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="privado/citas"
        [routerLinkActiveOptions]="{exact:true}" alt="Citas con pacientes">Citas</a>
      </li>
      <li class="nav-item" *ngIf="isLogged >= !isAdmin" >
        <a class="nav-link"
        routerLinkActive="active" routerLink="privado/nuevo-empleado"
        [routerLinkActiveOptions]="{exact:true}" alt="nuevo empleado">Nuevo Empleado</a>
      </li>
      <li class="nav-item" *ngIf="isLogged != isAdmin">
        <a class="nav-link"
        routerLinkActive="active" routerLink="privado/empleado"
        [routerLinkActiveOptions]="{exact:true}" alt="ver empleados">Ver empleados</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="paciente/nuevo-paciente"
        [routerLinkActiveOptions]="{exact:true}" alt="nuevo paciente">Nuevo Paciente</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="paciente/lista-paciente"
        [routerLinkActiveOptions]="{exact:true}" alt="ficha pacientes">Buscar Pacientes</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link"
          routerLinkActive="active" routerLink="paciente/ficha-paciente"
          [routerLinkActiveOptions]="{exact:true}" alt="ficha pacientes">Ficha Pacientes</a>
        </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="acceder"
        [routerLinkActiveOptions]="{exact:true}" alt="Acceder">Acceder</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="privado/mi-perfil"
        [routerLinkActiveOptions]="{exact:true}" alt="Mi Perfíl">Mi Perfíl</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link"
        routerLinkActive="active" routerLink="#" (click)="onLogout()"
        [routerLinkActiveOptions]="{exact:true}">Salir</a>
      </li>
    </ul>
  </div>
</nav>



