<div class="wrap-top">
  <div class="col-10 mx-auto mt-8">
    <mat-card>
      <div class="card-body">
        <h3 class="text-center">Registro</h3>
        <form #formLogin="ngForm" (submit)="registroEmpleado()">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8">

          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required minlength="5"
              maxlength="10">
          </div>
          <hr>
          <button *ngIf="btnDisabled" type="submit" class="btn btn-lg btn-primary btn-block">Registro</button>
          <ng-template #btnDisabled>
            <button type="submit" disabled=true class="btn btn-lg btn-secondary btn-block">Registro</button>
          </ng-template>
          <br>
          <div class="form-group">
            <button routerLink="/recuperar-cuenta" class="form-control text-center">Recuperar cuenta</button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
