<div class="row wrap-top">
  <div class="col-md-6 mx-auto mt-10">
    <mat-card>
      <div class="card-body">
        <h3 class="text-center">Introduce tú email para recuperar la cuenta</h3>
        <form >
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <p *ngIf="!passReset && empleado.email" (click)="resetPassword()">Restablecer contraseña para {{empleado.email}}</p>
            <p *ngIf="passReset" >Restablecimiento solicitado. Revisa tus instrucciones de correo electrónico.</p>
          </div>
          <br />
        </form>
      </div>
    </mat-card>
  </div>
</div>
