<div class="card col-md-12 wrap-top">
  <mat-card>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/privado/citas">Calendario</a>
      </li>
      <li class="breadcrumb-item active">Lista Pacientes</li>
    </ol>
  </mat-card>
  <mat-card>
    <mat-card>
      <mat-tab-group
        mat-stretch-tabs
        class="example-stretched-tabs mat-elevation-z4"
      >
        <mat-tab label="Datos">
          <mat-card>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
          </mat-card>
        </mat-tab>
        <mat-tab label="Second">
          <mat-card>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
          </mat-card>
        </mat-tab>
        <mat-tab label="Third">
          <mat-card>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
            <mat-form-field> </mat-form-field>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-card>
</div>
